[Unit]
Description=115drive-webdav
After=network.target

[Service]
Type=simple
ExecStart=115drive-webdav --config=/etc/115drive-webdav.json
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
